@font-face
{
font-family: pricedown;
src: url(pricedown.ttf);
}

body 
{
	background: url("images/background.png");
	color: #000;
	font-size: 16px;
	line-height: 1.5em;
}

#tab1
{
	border-top-left-radius: 17;
	border-top-right-radius: 17;
	background: url("images/body.png");
	font-family: pricedown;
	height: 50;
	Width: 120;
	text-align: center;
	font-size: 20px;
	position: absolute;
	bottom: 590px;
	right: 0px;
	left: 256px;
	color: black;
}

#tab2
{
	border-top-left-radius: 17;
	border-top-right-radius: 17;
	background: url("images/body.png");
	font-family: pricedown;
	height: 50;
	Width: 120;
	text-align: center;
	font-size: 20px;
	position: absolute;
	bottom: 590px;
	right: 0px;
	left: 346px;
	color: black;
}

#tab3
{
	border-top-left-radius: 17;
	border-top-right-radius: 17;
	background: url("images/body.png");
	font-family: pricedown;
	height: 50;
	Width: 120;
	text-align: center;
	font-size: 20px;
	position: absolute;
	bottom: 590px;
	right: 0px;
	left: 436px;
	color: black;
}

#tab1:hover
{
	overflow-y: hidden;
	bottom: 611px;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

#tab2:hover
{
	overflow-y: hidden;
	bottom: 611px;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

#tab3:hover
{
	overflow-y: hidden;
	bottom: 611px;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}


#headdiv
{
	background: url("images/banner.png");
	box-shadow: 10px 10px 5px #888888;
	border-top-left-radius: 17;
	border-top-right-radius: 17;
	height: 141;
	Width: 851;
	position: fixed;
	bottom: 470px;
	right: 0px;
	left: 255px;
}

#bodydiv
{
	background: url("images/body.png");
	box-shadow: 10px 10px 5px #888888;
	border-bottom-left-radius: 17;
	border-bottom-right-radius: 17;
	font-family: pricedown;
	font-size: 20px;
	padding-right:50px;
	padding-left:50px;
	text-align: center;
	height: 440;
	Width: 750;
	position: absolute;
	bottom: 31px;
	right: 0px;
	left: 256px;
}

#infodiv
{
	background: url("images/skinbg.png");
	box-shadow: 2px 2px 2px 2px #888888;
	border: 1px solid #c7d0d2;
    border-radius: 2px;
	font-size: 20px;
	text-align: center;
	height: 340;
	Width: 200;
	position: absolute;
	bottom: 49px;
	right: 0px;
	left: 290px;
}

#maindiv
{
	background: url("images/background.png");
	box-shadow: 2px 2px 2px 2px #888888;
	font-family: arial;
	font-size: 20px;
	text-align: left;
	height: 320;
	Width: 500;
	position: absolute;
	bottom: 50px;
	right: 0px;
	left: 540px;
	padding-left: 20px;
	padding-top: 20px;
    border: 1px solid #c7d0d2;
    border-radius: 2px;
}

#rightdiv
{
	text-align: left;
	height: 75;
	Width: 250;
	position: absolute;
	bottom: 55px;
	right: 0px;
	left: 220px;
}

#wepdiv
{
	text-align: left;
	height: 330;
	Width: 100;
	position: absolute;
	bottom: -50px;
	right: 0px;
	left: 210px;
}

#copyright 
{
	font-family: arial, verdana, tahoma, sans-serif;
	background: url("images/body.png");
	text-align: center;
	font-size: 10px;
	color: #000;
	margin: 0px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;
}

p
{
	font-size: 13px;
	font-family: arial, verdana, tahoma, "sans-serif";
<<<<<<< HEAD
	line-height: 1.5em;
}

#container 
{
            position: fixed;
            width: 340px;
            height: 280px;
            top: 69%;
            left: 50%;
            margin-top: -140px;
            margin-left: -170px;

        }
        form {
            margin: 0 auto;
            margin-top: 20px;
        }

        input {
            font-family: "Helvetica Neue", Helvetica, sans-serif;
            font-size: 12px;
            outline: none;
        }
        input[type=text],
        input[type=password] ,input[type=time]{
			background: url("images/background.png");
            color: #777;
            padding-left: 10px;
            margin: 10px;
            margin-top: 12px;
            margin-left: 18px;
            width: 290px;
            height: 35px;
            border: 1px solid #c7d0d2;
            border-radius: 2px;
            box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
            -webkit-transition: all .4s ease;
            -moz-transition: all .4s ease;
            transition: all .4s ease;
            }

        #lower {

            width: 100%;
            height: 69px;
            margin-top: 20px;
              box-shadow: inset 0 1px 1px #fff;
            border-top: 1px solid #ccc;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
        }
        input[type=submit] {
            float: center;
            margin-right: 20px;
            margin-top: 20px;
            width: 80px;
            height: 30px;
            font-size: 14px;
            font-weight: bold;
            color: #fff;
            background-color: #acd6ef; 
            background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#6ec2e8));
            background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
            background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
            border-radius: 30px;
            border: 1px solid #66add6;
            box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
            cursor: pointer;
        }
        input[type=submit]:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, from(#e77817), to(#e77817));
            background-image: -moz-linear-gradient(top left 90deg, #b6e2ff 0%, #e77817 100%);
            background-image: linear-gradient(top left 90deg, #b6e2ff 0%, #e77817 100%);
        }
        input[type=submit]:active {
            background-image: -webkit-gradient(linear, left top, left bottom, from(#e77817), to(#b6e2ff));
            background-image: -moz-linear-gradient(top left 90deg, #e77817 0%, #b6e2ff 100%);
            background-image: linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
        }
=======
}
>>>>>>> 6a2a1cd9fdcac1913d9b8ca5877f245ee070d621
